.root {
    -fx-font-family: 'Arial';
}

.button {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.button:hover {
    -fx-background-color: #4e98db;
}

.combo-box {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.date-picker {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.text-field {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.text-area {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
